<header id="header">
  <a href="{{ .Site.BaseURL }}">
    <div id="logo" style="background-image: url({{ .Site.Params.logo }})"></div>
  <div id="title">
    <h1>{{ .Site.Title }}</h1>
  </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
      {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
  {{ if isset .Site.Params "social" }}
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
      {{ if eq $elem.name "email" }}
        <li><a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}">
          <i class="fas fa-envelope"></i>
        </a></li>
        {{ else if eq $elem.name "rss" }}
        <li><a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
          <i class="fas fa-rss"></i>
        </a></li>
        {{ else }}
        <li><a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
          <i class="fab fa-{{ lower $elem.name }}"></i>
        </a></li>
        {{ end }}
      {{ end }}
  {{ end }}
    </ul>
  </div>

{{ "<!-- isso -->" | safeHTML }}
<script data-isso="/comments/"
        data-isso-css="true"
        data-isso-lang="tr"
        data-isso-reply-to-self="false"
        data-isso-require-author="false"
        data-isso-require-email="false"
        data-isso-max-comments-top="10"
        data-isso-max-comments-nested="5"
        data-isso-reveal-on-click="5"
        data-isso-avatar="true"
        data-isso-avatar-bg="#f0f0f0"
        data-isso-avatar-fg="#9abf88 #5698c4 #e279a3 #9163b6 ..."
        data-isso-vote="true"
        data-vote-levels=""
        src="//ta2ozq.me/comments/js/embed.min.js"></script>
{{ "<!-- isso -->" | safeHTML }}
</header>
  